*,
*::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  background: rgb(51, 43, 55);
  background: radial-gradient(
    circle,
    rgba(51, 43, 55, 1) 0%,
    rgba(51, 43, 55, 1) 100%
  );
  color: #fff;
  font-family: "MedievalSharp", cursive;
}

/* layout */
.game-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
main {
  margin: 0 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* character-card */
.character-card {
  background: rgb(15, 17, 82);
  width: 250px;
  padding: 1rem;
  text-align: center;
  border-radius: 5%;
  border: blue 3px solid;
}
.name {
  margin: 0.5rem auto;
  width: min-content;
}
.avatar {
  width: 100%;
}

/* health */
.health {
  margin: 0.5rem 0;
}
.health b {
  font-weight: bold;
  color: #fff;
}

/* health bar */
.health-bar-outer {
  background: #171217;
  height: 1vh;
  width: 100%;
  margin-bottom: 5%;
  border-radius: 100%;
}
.health-bar-outer .health-bar-inner {
  background: #466d34;
  height: 100%;
  border-radius: 2px;
}
.health-bar-outer .health-bar-inner.danger {
  background: #d1435f;
}

/* dice and dice-container */
.dice-container {
  border: 1px solid blue;
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5%;
}
.dice,
.placeholder-dice {
  padding: 0.25rem 0.5rem;
  background-color: rgb(4, 135, 250);
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #666;
}
.dice-container .placeholder-dice {
  background-color: transparent;
}

/* attack button and end game */
#attack-button {
  padding: 0.25em 0.75em;
  font-size: 1.5rem;
  margin-top: 1rem;
  background-color: rgb(4, 135, 250);
  border: 0;
  outline: 0;
  color: #fff;
  font-family: "MedivalSharp";
  border-radius: 35%;
}
.end-game {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  gap: 3rem;
}
.end-emoji {
  font-size: 5rem;
}
